<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="observableCreate()">create / observable</button>
  <button mat-button color="primary" (click)="fromClick()">from</button>
  <button mat-button color="primary" (click)="ofClick()">of</button>
  <button mat-button color="primary" (click)="intervalClick()">interval</button>
  <button mat-button color="primary" (click)="timerClick()">timer</button>
  <button mat-button color="primary" (click)="fromEventClick()">fromEvent</button>
  <button mat-button color="primary" (click)="unsubscribeClick()">unsubscribe</button>
</div>
