<div fxFill fxLayout="column" fxLayoutAlign="center start">
  <button mat-button color="primary" (click)="mapClick()">map</button>
  <button mat-button color="primary" (click)="filterClick()">filter</button>
  <button mat-button color="primary" (click)="tapClick()">tap</button>
  <button mat-button color="primary" (click)="takeClick()">take</button>
  <button mat-button color="primary" (click)="debounceTimeClick()">debounceTime</button>
  <button mat-button color="primary" (click)="debounceTimeSearch()">debounceTime Search</button>
  <button mat-button color="primary" (click)="takeWhileClick()">takeWhile</button>
  <button mat-button color="primary" (click)="takeUntilSearch()">takeUntil </button>

</div>

<div class="debounce-area"
     matRipple
     matRippleCentered="true"
     matRippleColor="rgb(240, 166, 166,0.4)"
     matRippleRadius="40">
</div>

<mat-divider></mat-divider>
<mat-form-field style="margin: 20px;">
  <mat-label>Search by: </mat-label>
  <input matInput
         placeholder="Type something"
         autocomplete="off"
         (keyup)="searchBy_UsingDebounce($event)"
         [(ngModel)]="searchInput">
</mat-form-field>
